h1 {
    font-family: Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    color: #fff;
    animation: slide 7s linear infinite;
  }

h2 {
    text-align: center;
    background-color: #0D1B30;
    color: #fff;
}

body {
    background-color: #0D1B30;
    color: #58FAF4;
}

table {
    text-align: center;
    background-color: #0D1B30;
    color: #fff;
}

span {
    color: #fff;
}

hr {
    color: #BE8019;
}

button {
    border: 3px solid #fff;
    background-color: #BE8019;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
  
  button:hover {
    background-color: #0D1B30;
    border-color: #fff;
}
